  td{
    border: 1px solid black;
    height: 80px;
    width: 80px;
    text-align: center;
    font-size: 60px; 
  }

  #board{
    position: absolute;
    /* top: 50%; */
    left: 50%;
    /* margin-top: -320px; */
    margin-left: -345px;
  }
