  td{
    border: 1px solid black;
    height: 80px;
    width: 80px;
    text-align: center;
    font-size: 60px; 
  }

  #board{
    position: absolute;
    left: 50%;
    margin-left: -345px;
  }

  h1{
    text-align: center;
  }